.Contact {
  display: flex;
  align-items: center;
  border: 1px solid #777;
  padding: 8px;
  cursor: pointer;
  margin-bottom: 15px;
}

.Contact img {
  width: 60px;
  height: 60px;
  border: 1px solid #bbb;
  margin-right: 12px;
  background-color: #fff;
}