.Header {
  display: flex;
  margin: 0 -15px;
  padding: 8px 15px;
  border-bottom: 1px solid #777;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
}

.Header a {
  text-decoration: none;
  color: #000;
}

.Header-addBtn {
  display: inline-block;
  padding: 5px 8px;
  border: 1px solid #444;
  background-color: #efefef;
}
.Header-addBtn:hover {
  background-color: #e5e5e5;
}
.Header-addBtn:active {
  transform: translate(1px, -1px);
}