.Modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 9999;
  /*overflow-y: scroll;*/
}

.Modal-container {
  position: relative;
  background-color: #fff;
  border: 2px solid #333;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 40%;
  min-width: 480px;
  padding: 40px 15px 15px;
}

.Modal-closeBtn {
  width: 20px;
  height: 20px;
  font-size: 0;
  background: url(../../assetts/images/close.svg) 50% 50% no-repeat;
  background-size: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
  position: absolute;
  right: 15px;
  top: 15px;
}
.Modal-closeBtn:hover {
  opacity: 0.8;
}
.Modal-closeBtn:active {
  opacity: 1;
  background-size: 90%;
}
