.AddForm {
  display: flex;
  flex-wrap: wrap;
}

.AddForm label {
  width: 150px;
}

.AddForm input {
  flex-basis: calc(100% - 150px);
  padding: 8px;
}

.AddForm label,
.AddForm input {
  margin-bottom: 10px;
}

.AddForm-photo {
  width: 100px;
  height: 100px;
  border: 1px solid #bbb;
}

.AddForm-buttons {
  width: 100%;
  margin-top: 15px;
}

.AddForm-buttons button {
  padding: 8px 12px;
  margin-right: 10px;
}