.ContactInfo {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.ContactInfo-photo {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border: 1px solid #bbb;
  background-color: #fff;
}
.ContactInfo-photo img {
  width: 100%;
  height: 100%;
}

.ContactInfo-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.ContactInfo-info h4 {
  margin: 0 0 15px;
  font-size: 28px;
}

.ContactInfo-info a {
  color: #000;
  text-decoration: none;
  margin-bottom: 5px;
}

.ContactInfo-email,
.ContactInfo-phone {
  position: relative;
  padding-left: 25px;
  height: 20px;
  vertical-align: middle;
}
.ContactInfo-email::before,
.ContactInfo-phone::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-size: 100% auto !important;
}

.ContactInfo-email::before {
  background: url(../../../assetts/images/email.svg) 50% 50% no-repeat;
}

.ContactInfo-phone::before {
  background: url(../../../assetts/images/phone.svg) 50% 50% no-repeat;
}

.ContactInfo-buttons {
  width: 100%;
  margin-top: 10px;
  display: flex;
}

.ContactInfo-buttons button {
  padding: 8px 0;
  flex-basis: 50%;
  margin-right: 10px;
  position: relative;
}

.ContactInfo-buttons button:last-child {
  margin-right: 0;
  vertical-align: middle;
}

.ContactInfo-editBtn::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../../../assetts/images/edit.svg) 50% 50% no-repeat;
  background-size: 100% auto !important;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  transform: translate(-50%, -50%);
}

.ContactInfo-deleteBtn::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../../../assetts/images/delete.svg) 50% 50% no-repeat;
  background-size: 100% auto !important;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  transform: translate(-50%, -50%);
}